{{! Note that editing and creating Partials does not cause nodemon to restart automatically, by default!
We configure Node to do so by running node like: 'nodemon src/app.js -e js,hbs' }}
<h1>{{title}}</h1>

<nav>
  <ul>
    <li><a href='/'>Weather</a></li>
    <li><a href='/about'>About</a></li>
    <li><a href='/help'>Help</a></li>
  </ul>
</nav>